/* Logo */

.logo{
    line-height: 1;
}

@media (min-width: 1200px) {
    /* .logo {
        width: 280px;
    } */
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.project_title{
    font-size: 17px;
    font-weight: 700;
    /* color: #012970; */
    color: white;
    font-family: 'Nunito', sans-serif;
}
.no-underline {
  text-decoration: none;
}